.row {
  width: 100vw;
  margin: -0.5em;
  display: flex;
  flex-flow: row wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.intro {
  width: 100vw;
  height: 100vh;
}

.intro-padding {
  width: 100%;
  height: 10%;
  background-color: #000;
}

.intro-canvas-image {
  height: 50%;
  background: #000 url("../img/logo-large.png") no-repeat 30%;
  background-size: contain;
}

.intro-menu {
  background-color: #000;
}

.intro-name {
  font: 300 1.5em "Dosis", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
}

#intro-canvas {
  padding: 0;
  height: 40%;
}

/* Responsive */

@media screen and (min-width: 500px) {
  .intro-name {
    font-weight: 400;
    font-size: 2.5em;
    padding: 0 1em;
  }
}