.row {
  max-width: 100vw;
  margin: -0.5em;
  display: flex;
  flex-flow: row wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@font-face{
  font-family: "Dragon";
  src: url(../font/dragon-alphabet.ttf);
}

.intro {
  background-color: #000;
  height: 100vh;
}

.intro-padding {
  width: 100%;
  height: 5%;
  background-color: #000;
}

.intro-canvas-image {
  height: 55%;
  background: #000 url("../img/logo-large.png") no-repeat 30%;
  background-size: contain;
}

.intro-menu {
  background-color: #000;
}

.intro-before {
  font: 300 1.2em "Dosis", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

.intro-name {
  font: 300 1.5em "Dosis", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  margin: auto;
}

.intro-role {
  font: 300 1.15em "Dosis", sans-serif;
  color: #ddd;
  text-transform: capitalize;
  text-align: right;
  margin: 0 auto;
}

.intro-menu-list {
  margin: 1em auto;
  text-align: right;
  list-style: none;
  text-transform: uppercase;
}

.intro-menu-link {
  font: 400 1.25em "Dosis", sans-serif;
  transition: font-weight 0.3s, font-size 0.3s;
  color: #fff;
  text-decoration: none;
}

.intro-menu-link:hover {
  text-decoration: none;
}

.intro-menu-link:hover {
  font-size: 1.5em;
  font-weight: 500;
}

#intro-canvas {
  padding: 0;
  height: 40%;
}

.dovahkiin-title {
  margin: auto;
  font: 3em "Dragon", sans-serif;
  color: #fff;
}

.page-content {
  margin: 1em;
  min-height: 100vh;
}

.page-title {
  margin: 0 auto;
  font: 500 2em "Dosis", sans-serif;
  text-align: center;
  color: #222;
}

.dovah-title {
  margin: 0 auto;
  font: 1.5em "Dragon", sans-serif;
  text-align: center;
  color: #222;
}

/* Responsive */

@media screen and (min-width: 500px) {
  .intro-before {
    margin: 0 1em;
  }
  .intro-name {
    font-weight: 400;
    font-size: 1.75em;
    margin: 0;
  }
  .intro-role {
    margin: 0 1.25em;
  }
  .intro-menu-link {
    font-size: 1.45em;
    padding: 0 1em;
  }
  .intro-menu-link:hover {
    font-size: 1.8em;
  }
  .dovahkiin-title {
    font-size: 5em;
  }
  .page-title {
    font-size: 3em;
  }
  .dovah-title {
    font-size: 2.75em;
  }
}

@media screen and (min-width: 1000px) {
  .intro-before {
    margin: 0 1em;
  }
  .intro-name {
    font-weight: 400;
    font-size: 2.35em;
  }
  .intro-menu-link {
    font-size: 1.7em;
  }
  .intro-menu-link:hover {
    font-size: 1.95em;
  }
  .dovahkiin-title {
    font-size: 5em;
  }
  .page-title {
    font-size: 3em;
  }
  .dovah-title {
    font-size: 2.75em;
  }
}